/* BASE STYLES */
body {
    color:#333;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    background:#fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}
.hd {
    font-family:"Comic Sans","Comic Sans MS", Helvetica, Arial, sans-serif;
    font-style:italic;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing:-.05em;
}
ol, ul, p, .block .bd ul {
    margin-bottom:13px;
}
ul li {
    list-style: square inside;
}
a:link,
a:visited,
a:hover {
    color:#f00;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:active,
a:focus {
    background-color:#f00;
    color:#fff;
}
/* HEADER */
div#header {
    position:relative;
    width:100%;
    height:230px;
    background:transparent url(../img/drflame-logo.png) no-repeat 210px 40px;
}
div#header h1,
div#header p {
    position:absolute;
    background:transparent url(../img/drflame-head.png) no-repeat 0 0;
    width:195px;
    height:220px;
    text-indent:-9999em;
}
div#header a {
    display:block;
    width:195px;
    height:220px;
}
div#header a:active,
div#header a:focus {
    background-color:transparent;
}
/* PAGE STRUCTURE */

#page {
    width:880px;
    margin:0 auto;
}
.box {
    width:564px;
    float:left;
    clear:left;
    background:transparent url(../img/box.png) repeat-y;
    margin-bottom:16px;
}
.box .hd {
    width:534px;
    background:#000 url(../img/box.png) no-repeat -1130px 0;
    color:#fff;
    padding:5px 10px 5px 20px;
}
.box.secondary .hd {
    width:272px;
}
.box.secondary {
    width:302px;
    float:right;
    clear:right;
}
.box .bd {
    padding:6px 10px 20px 30px;
    background:transparent url(../img/box.png) no-repeat -565px bottom;
}
.box.secondary,
.box.secondary .bd {
    background-image: url(../img/box2.png);
}
.box.secondary .bd {
    background-position:right bottom;   
}

/* form */
.box label {
    float:left;
    width:140px;
    text-align:right;
    padding-right:8px;
    display: block;
}
.box textarea,
.box input {
    width:280px;
    margin-bottom:10px;
}
.box textarea {
    height:8em;
}
p.submit input {
    width:auto;
    margin-left:148px;
}

/* Main content area  */

/* these for TinyMCE markup */

.primary.box b,
.primary.box strong {
    font-weight:bold;
}
.primary.box i,
.primary.box em {
    font-style:italic;
}
.primary.box ol {
    padding-left:1.54em;
}
.primary.box ol li {
    list-style:decimal;
    list-style-position:outside;
}

/* narrow form */
.secondary.box label {
    float:none;
    text-align:left;
    display: block;
    margin-bottom:4px;
}
.secondary.box textarea,
.secondary.box input {
    width:220px;
    margin-bottom:10px;
}
.secondary.box textarea {
    height:6em;
}
.secondary p.submit input {
    width:auto;
    margin-left:0;
}
/* questions list */
ul#questions li {
    list-style-type:none;
    background:transparent url(../img/bullet.gif) no-repeat 0 0;
    padding-left:20px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
ul#questions li span {
    display:block;
    color:#888;
    font-size:12px;
    font-weight:normal;
}
#recent_questions li {
    margin-bottom:8px;
}
#recent_questions li.last {
    font-weight:bold;
}

a#twitter {
    display:block;
    background: transparent url(http://twitter-badges.s3.amazonaws.com/t_logo-a.png) no-repeat 0 0;
    padding:10px 0 12px 50px;
    min-height:36px;
}
a#twitter:hover,
a#twitter:focus {
    color:#f00;
    text-decoration:underline;
}

p.author {
    font-style:italic;
}

/* footer */
#footer ul {
    width:558px;
    background:transparent url(../img/box.png) no-repeat -1130px 0;
    padding:0 0 0 10px;
    overflow:hidden;
    margin:0;
}
#footer .bd {
    padding:0;
    height:8px;
}
#footer li {
    float:left;
    border-top:2px solid #000;
    width:33%;
    padding:6px 0;
    text-align:center;
}